@{
    ViewBag.Title = "Ürün Listesi";
}

<div class="container pb-5">
    <div class="row">
        <div class="col-md-3">
            @Html.Action("GetCategoryList", "Home")
        </div>
        <div class="col-md-9">
            @if (ViewBag.ProductCount == 0)
            {
                <div class="alert alert-warning">
                    <i class="fa-solid fa-circle-info"></i> Bu kategoriye ait ürün bulunamadı
                </div>
            }
            else
            {
                <div class="alert alert-warning">
                    <i class="fa-regular fa-circle-check"></i> <strong>@ViewBag.ProductCount adet</strong> ürün bulundu
                </div>
            }

            @Html.Partial("_ProductList")
        </div>
    </div>
</div>

